<h1>Seja bem-vindo!!!</h1>
<p>Crypto Wallet</p>

<% "helpers criado" %>
<p><%= data_br(Date.today) %></p>

<ul>
	<li>
		<a href="/coins">Cadastro de moedas</a>
	</li>
	<li>
		<%= link_to "Cadastro de moedas", coins_path %>
	</li>
</ul>